input{
    width: 40%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid black;
    resize: none;
    color: var(--color-white);
    margin-left: 2rem;
}
label{
    margin-left: 2rem;
}